@import url(http://fonts.googleapis.com/css?family=Roboto&display=swap);

* {
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  font-family :'Roboto', sans-serif;
}
path {
  fill: salmon;
}

.delete-icon {
  flex-basis: auto;
  right: 0;
  top: 1%;
}
.delete-div {
  margin-left: auto;
  cursor: pointer;
}
.delete-icon path {
  fill:#4F4F4F;
}
.container-fluid {
  display: flex;
}
.container__connexion {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  flex-basis: 30%;
  padding-top: 10%;
}
.container__connexion input {
  margin-bottom: 20px;
}
.erreur-connexion {
  color: red;
}

.completed {
  color: #3aa16f;
  text-align: center;
}
input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}
.Button {
  background-color: salmon;
  color : white;
  text-decoration:none;
  
}



.div__links {
    text-align: center;
}
.links {
  color: salmon;
  text-decoration: none;
  padding-bottom: 10px;
}
.links:hover {
  text-decoration: none;
  color: rgb(250, 79, 60);
} 
.container__accueil {
  display: flex;
  flex-direction: row;
  min-height: 700px;
  
}

.sidebar {
  flex-basis: 20%;
  background-color: #F5F5F5;
  padding: 10px;
  flex-direction: column;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
}
.sidebar > div > span {
  font-size: 0.9em;
  font-weight: bold;
}

.menu__top {
  flex-direction: column;
  padding-top: 10%;
  padding-bottom: 15%;
}
.menu__top svg:hover {
  cursor: pointer;
}

h6 {
  position: relative;
  width: 95%;
  font-weight: bolder;
}

.mes_listes {
 display: flex;
 flex-direction: row;
}
.sidebar_liste {
  flex-basis: 40%;
}
.ligne {
  
  flex-basis: 60% ;
  height: 1px;
  background-color: grey;
  width: auto;
  margin-top: 10px;
}

.titres {
  display: flex;
  flex-direction: column;
}
.titre-liste {
  display: flex;
  padding-top: 5%;
  flex-basis: 90%;
  cursor: pointer;
}
.titre-liste h6 {
  padding-top: 1%;
  padding-left: 5%;
}

.compteur {
  background-color: salmon;
  color: white;
  margin-left: auto ;
  padding: 1% 2.5% 0;
  border-radius: 15%;
  font-size: 0.8em;
  font-weight: bold;
}

.sidebar-bottom {
  margin-top: auto;
}
.param-logout-link {
  display: flex;
  margin: 4%;
  cursor: pointer;
}
.param-logout-link:hover {
  text-decoration: none;
}
.param-logout-link svg {
  margin-right: 4%;
}
.param-logout-link h6 {
  padding-top:1%;
  color: black;
}


.main {
  flex-grow: 1;
  background-color: #FDFDFD;
}
.main h2 {
  font-weight: 900;
  margin: 40px 20px;
}


 .container {
  display: block;
  position: relative;
  left: 0;

  margin-bottom: 12px;
  cursor: pointer;
 
}

/* Hide the browser's default radio button */
input[type=checkbox] {
  
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-left: auto;
  
  border: 1px solid #ccc;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


/* On mouse-over, add a grey background color */
input[type=checkbox]:hover {
  background-color: #ccc;
}

/* When the radio button is checked, add a salmon background */
input[type=checkbox]:checked  {
  background-color: salmon;
  background-image: url('../assets/check.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}


.taches-liste{
 display: flex;
 flex-direction: column;
 
}
.taches-liste-unique {
display: flex;
border-top: 1px solid #ccc;
margin-left: 10px;
padding-top: 10px;
}
.tache-finale {
  border-bottom: 1px solid #ccc;
  margin-left: 10px;
}

.container-nom-tache {
  
  cursor: pointer;
}
.tache-unique {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  padding:0 15px;
  margin-left: auto;
  margin-right: auto;
}
.tache__text__note {
  height: 150px;
  border-radius: 5px;
}
fieldset {
  margin-bottom: 20px;
}
.etapes {
  display: flex;
}
.tache-etapes {
  width: 90%;
  display: flex;
  background-color: #ffffff;
  border: 2px inset#cccccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
  
  margin-top: 10px;
}
.tache-etapes input[type=checkbox] {
  margin: auto;
  margin-left: 2%;
}
.input-etapes {
  border: none;
}
.etapes svg {
margin : auto;
margin-top: 8%;
}

.etapes path {
  fill: crimson;
}
fieldset textarea {
  margin-top: 10px;
}
.calendar {
  display: flex;
  background-color: #ffffff;
  border: 2px inset#cccccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.calendar input {
  border: none;
}
.calendar svg {
  margin: auto;
  margin-right: 10px;
}
.calendar path {
  fill: #000;
}
.zone__button {
  display: flex;
}
.zone__button .Button {
  flex-basis: 40%;
  flex-grow: 1;

}
.zone__button .Button:first-child {
  margin-right: 5%;
}
.header-edition-liste {
  display: flex;
}
.suppression-definitive {
  background-color: crimson;
  color: #fff;
  cursor: pointer;
  margin: auto 40px auto auto;
  padding: 1%;
  border-radius: 5px;
}
.suppression-definitive:hover {
  background-color: darkred;
}
.suppression-definitive path {
  fill: #fff;
}
.ajout-tache {
  color: grey;
}
.ajout-tache path {
  fill: black;
}
.ajout-tache div {
  margin-left: 15px;
  margin-bottom: 12px;
}
.ajout-tache input {
  border : none;
  padding:0;
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; /* Could be more or less, depending on screen size */
}
.delete-buttons {
  display: flex;
}
.delete-buttons .suppression-definitive {
  flex-basis:60%;
  padding: 2%;
}

/* The Close Button */
.annuler {
  background-color: #aaa;
  color: #fff;
  flex-basis: 40%;
  border-radius: 5px;
  margin:auto;
  padding: 2%;
}

.annuler:hover,
.annuler:focus {
  cursor: pointer;
  background-color: #ccc;
} 
.annuler path {
  fill: #fff;
}
h4 {
  font-weight: 900;
}

/* ========== Page de parametres =========== */
.parametres {
  margin: 60px 20px;
  width: 350px;
}
.parametres h4 {
  margin-top: 20%;
  margin-bottom: 10%;
}
.parametres--mail-actuel {

  margin-bottom: 5%;
}


/*     Ajout pour faciliter le côté mobile   */
.accueil-mobile {
  display: none;
}
.close-mobile {
  display: none;
}

/* ========= RESPONSIVE - MOBILE =========== */
@media screen and (max-width: 540px) {
  body {
    max-width: 540px;
    height: auto;
  }
  
  .container__connexion {
    
    flex-basis: 100%;
    margin-top: 15%;
  }
  .main h2 {
    display: none;
  }
  .main{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .accueil-mobile {
    display: flex;
    background-color: salmon;
    flex-basis: 6%;
    margin-bottom: 5%;
    color: white;
    padding: 20px ;
  }
  .accueil-mobile svg {
    margin-right: 20px;
    cursor: pointer;
  }
  .accueil-mobile path {
    fill: white;
  }
  
  .sidebar {
    flex-basis: 95%;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: flex;
  }
  .close-mobile {
    display: block;
    cursor: pointer;
    font-size: 25px;
    padding-left: 6px;
    margin: -20px 0 20px;
  }
  .close-task-mobile {
    text-align: right;
    padding-top: 10px;
    padding-right: 40px;
  }
  .taches-liste-unique {
    margin-left: 0;
    padding-left: 10px;
  }
  .tache-finale {
    margin-left: 0;
  }
  input[name="TacheChoisie"] {
    width: 90%;
  }
  .calendar {
    width: 90%;
  }
  .tache__text__note {
    width: 90%;
  }
  .zone__button .Button {
    flex-grow: 0.2;
  }

  .param-logout-link {
    margin-bottom: 8%;
  }
  .parametres {
    width: 90%;
    margin: 0 20px;
  }
  .parametres h4 {
    margin-top: 10%;
  }


} /* fin responsive */